I will be carrying an Exploratory data analysis on the data. These steps will be carried out:

1. Import Python Libraries
2. Reading Datasets
3. Data Reduction

### Setup and Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import ast
import os

# Settings
plt.style.use("seaborn-v0_8")
sns.set_palette("husl")
pd.set_option("display.max_columns", None)
pd.set_option("display.float_format", "{:,.2f}".format)

### Merging and Reading Datasets

In [2]:
path = r'C:\Users\HP\Anaconda Scripts\My Course\Personal Projects\Exploratory Data Analysis of Movie Trends'

# Load the datasets
movies = pd.read_csv(os.path.join(path, 'data', 'tmdb_5000_movies.csv'))
credits = pd.read_csv(os.path.join(path, 'data', 'tmdb_5000_credits.csv'))

# Merge the datasets
movies_data = movies.merge(credits, left_on="id", right_on="movie_id", how="inner")

### Analyze Data

In [3]:
movies_data.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title_x,vote_average,vote_count,movie_id,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.44,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.00,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.20,11800,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.08,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.00,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.90,4500,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.38,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.00,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.30,4466,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.31,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.00,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.60,9106,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.93,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.00,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.10,2124,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [4]:
#Checking the dimensions of the dataset 
movies_data.shape

(4803, 24)

In [5]:
# Show all columns from the data set and rows 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 500)

In [6]:
movies_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title_x               4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  movie_id              4803 non-null   int64
 21  title_y               4803 non-null   object
 22  cast                  4803 non-null   object
 23  crew                  4803 non-null   object
dtypes: float64(3), int64(5), object(16)
memory usage: 900.7+ KB

In [7]:
# Checking the statistics of the data set 
movies_data.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count,movie_id
count,"4,803.00","4,803.00","4,803.00","4,803.00","4,801.00","4,803.00","4,803.00","4,803.00"
mean,"29,045,039.88","57,165.48",21.49,"82,260,638.65",106.88,6.09,690.22,"57,165.48"
std,"40,722,391.26","88,694.61",31.82,"162,857,100.94",22.61,1.19,"1,234.59","88,694.61"
min,0.00,5.00,0.00,0.00,0.00,0.00,0.00,5.00
25%,"790,000.00","9,014.50",4.67,0.00,94.00,5.60,54.00,"9,014.50"
50%,"15,000,000.00","14,629.00",12.92,"19,170,001.00",103.00,6.20,235.00,"14,629.00"
75%,"40,000,000.00","58,610.50",28.31,"92,917,187.00",118.00,6.80,737.00,"58,610.50"
max,"380,000,000.00","459,488.00",875.58,"2,787,965,087.00",338.00,10.00,"13,752.00","459,488.00"

In [8]:
movies_data.dtypes

budget                    int64
genres                   object
homepage                 object
id                        int64
keywords                 object
original_language        object
original_title           object
overview                 object
popularity              float64
production_companies     object
production_countries     object
release_date             object
revenue                   int64
runtime                 float64
spoken_languages         object
status                   object
tagline                  object
title_x                  object
vote_average            float64
vote_count                int64
movie_id                  int64
title_y                  object
cast                     object
crew                     object
dtype: object

In [9]:
#Check for mixed data
for col in movies_data.columns.tolist():
    mixed = (movies_data[[col]].map(type) != movies_data[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (movies_data[mixed]) > 0:
        print (f"Mixed-type data found in column: {col}")
    else: print(f"No mixed-type data in column: {col}")

No mixed-type data in column: budget
No mixed-type data in column: genres
Mixed-type data found in column: homepage
No mixed-type data in column: id
No mixed-type data in column: keywords
No mixed-type data in column: original_language
No mixed-type data in column: original_title
Mixed-type data found in column: overview
No mixed-type data in column: popularity
No mixed-type data in column: production_companies
No mixed-type data in column: production_countries
Mixed-type data found in column: release_date
No mixed-type data in column: revenue
No mixed-type data in column: runtime
No mixed-type data in column: spoken_languages
No mixed-type data in column: status
Mixed-type data found in column: tagline
No mixed-type data in column: title_x
No mixed-type data in column: vote_average
No mixed-type data in column: vote_count
No mixed-type data in column: movie_id
No mixed-type data in column: title_y
No mixed-type data in column: cast
No mixed-type data in column: crew

In [10]:
#Check for missing value 

movies_data.isnull().sum()
#There is a significant number of missing data in multiple columns in our dataset

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title_x                    0
vote_average               0
vote_count                 0
movie_id                   0
title_y                    0
cast                       0
crew                       0
dtype: int64

In [11]:
# Check duplicates 
movies_data_dups = movies_data[movies_data.duplicated()]

In [12]:
movies_data_dups

# There is no duplicate value in the dataset

Empty DataFrame
Columns: [budget, genres, homepage, id, keywords, original_language, original_title, overview, popularity, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title_x, vote_average, vote_count, movie_id, title_y, cast, crew]
Index: []

# Data Reduction and Preparation

## Pick columns that are necessary for the analysis.

In [13]:
movies_data = movies_data[['budget','genres','original_title','overview','popularity','production_companies',
         'production_countries', 'release_date','revenue','runtime','vote_average','vote_count','cast','crew']]

In [14]:
# Create a copy to prevent the original data from being unintentionally modified by the operations I perform
movies_data = movies_data.copy()

In [15]:
# Remove entries with zero budget or revenue
movies_data = movies_data[(movies_data['budget'] > 0) & (movies_data['revenue'] > 0)]
movies_data.dropna(subset=['runtime', 'release_date'], inplace=True)

In [16]:
# Date conversion
movies_data['release_date'] = pd.to_datetime(movies_data['release_date'], errors='coerce')
movies_data['year'] = movies_data['release_date'].dt.year

In [17]:
# Extract genres
movies_data['genres'] = movies_data['genres'].apply(ast.literal_eval).apply(
    lambda x: [d['name'] for d in x] if isinstance(x, list) else []
)

In [18]:
# Extract directors from crew
movies_data['crew'] = movies_data['crew'].apply(ast.literal_eval)
movies_data['director'] = movies_data['crew'].apply(
    lambda x: next((d['name'] for d in x if d['job'] == 'Director'), None)
)

In [19]:
movies_data['director']

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4          Andrew Stanton
              ...
4773          Kevin Smith
4788          John Waters
4792     Kiyoshi Kurosawa
4796        Shane Carruth
4798     Robert Rodriguez
Name: director, Length: 3229, dtype: object

In [20]:
# Extract main actors from cast (first 3)
movies_data['cast'] = movies_data['cast'].apply(ast.literal_eval)
movies_data['main_actors'] = movies_data['cast'].apply(
    lambda x: [d['name'] for d in x[:3]] if isinstance(x, list) else []
)

In [21]:
movies_data['main_actors']

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, Léa Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4773       [Brian O'Halloran, Jeff Anderson, Jason Mewes]
4788          [Divine, David Lochary, Mary Vivian Pearce]
4792      [Koji Yakusho, Masato Hagiwara, Tsuyoshi Ujiki]
4796        [Shane Carruth, David Sullivan, Casey Gooden]
4798    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
Name: main_actors, Length: 3229, dtype: object

In [22]:
# Financial metrics
movies_data['profit'] = movies_data['revenue'] - movies_data['budget']
movies_data['ROI'] = np.where(movies_data['budget'] != 0, movies_data['profit'] / movies_data['budget'], 0)

In [23]:
print(f"After cleaning: {movies_data.shape}")
movies_data.head(3)

After cleaning: (3229, 19)

,budget,genres,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,vote_average,vote_count,cast,crew,year,director,main_actors,profit,ROI
0,237000000,"[Action, Adventure, Fantasy, Science Fiction]",Avatar,"In the 22nd century, a paraplegic Marine is di...",150.44,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.00,7.20,11800,"[{'cast_id': 242, 'character': 'Jake Sully', '...","[{'credit_id': '52fe48009251416c750aca23', 'de...",2009,James Cameron,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",2550965087,10.76
1,300000000,"[Adventure, Fantasy, Action]",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.08,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.00,6.90,4500,"[{'cast_id': 4, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4232c3a36847f800b579', 'de...",2007,Gore Verbinski,"[Johnny Depp, Orlando Bloom, Keira Knightley]",661000000,2.20
2,245000000,"[Action, Adventure, Crime]",Spectre,A cryptic message from Bond’s past sends him o...,107.38,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.00,6.30,4466,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '54805967c3a36829b5002c41', 'de...",2015,Sam Mendes,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",635674609,2.59

In [24]:
output_directory = os.path.join(path, '02 Data', 'Prepared Data')
os.makedirs(output_directory, exist_ok=True)
movies_data.to_csv(os.path.join(output_directory, 'movies_data.csv'), index=False)

print(f"Successfully exported data to: {os.path.join(output_directory, 'movies_data.csv')}")

Successfully exported data to: C:\Users\HP\Anaconda Scripts\My Course\Personal Projects\Exploratory Data Analysis of Movie Trends\02 Data\Prepared Data\movies_data.csv